$background-color: #690831;
$foreground-color: white;


body {
    margin: 0;
    user-select: none;

    .root-panel {
        display: grid;
        grid-template-rows: 1fr auto;
        background: $background-color;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;

        .owma-logo {
            grid-row: 1 / 2;
            width: 40%;
            align-self: center;
            justify-self: center;
        }

        .owma-info-panel {
            grid-row: 2 / 3;
            color: $foreground-color;
            justify-self: center;
            margin-bottom: 20px;
        }
    }
}